body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Estilos generales*/
body{
    --background-color-layout: rgb(235, 235, 235);
    --main-color:#042c5a;
    --second-color:white;
    --orange-color:rgb(255, 102, 0);
    --footer-background-color:rgb(34, 67, 86);
    --footer-color: rgb(255, 232, 203);
    font-family: sans-serif, Arial, Helvetica;
    text-align: center;
    padding:0px;
    margin:0px;
    height: 100%;
}

.layout{
    width:100%;
    height: auto;
    min-height: 100dvh;
    background-color: var(--background-color-layout);
    display: grid;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "content content content lateral"
        "footer footer footer footer"
    ;
    grid-template-rows: 100px 50px 1fr 50px;
}

/*Estilos de la cabecera*/
.header{
    grid-area: header;
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > img{
    width:50px;
    height: auto;
}

.header > h1{
    color: var(--main-color);
}

/*Estilos de la barra de navegación*/

.languageMenuContainer {
  position: relative;
  display: inline-block;
  right: 0;
}

.languageMenuContainer > ul > li{
    background-color: transparent;
    border: transparent;
    padding:0;
    right: 0;
    justify-content: center;
}

.languageButton{
    border: transparent;
    background-color: transparent;
    padding: 0;
}

#selectLanguageMenu {
    padding: 5px;
    background-color: var(--orange-color);
    color: var(--second-color);
    border-radius: 5px;
    width: 100%;
}

.languageButtonListUnfocus {
  display: none;
  transition-duration: 1s;
}

.languageButtonListFocus { 
  display: block;
  position: absolute;
  list-style: none;
  margin: 8px 0 0;
  padding: 8px;
  gap: 8px;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0,0,0,.12);
  transition-duration: 1s;
}

.languageButton img {
  width: 30px;
  height: 30px;
  display: block;
}


.nav{
    grid-area: nav;
    background-color: var(--main-color);
}

.nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    gap: 0; 
    padding: 0;
}

.nav > ul > li{
    flex: 1 1 0;         
    text-align: center; 
    margin: 0;   
}

.nav > ul > li > a{
    text-decoration: none;
    color: var(--second-color);
    font-weight: lighter;
}

.nav > ul > li > a:hover{
    transition-duration: 1s;
    text-shadow: 1px 1px 2px var(--orange-color);
}

.nav > ul > li > a.active, .nav > ul > li > a.active:hover{
    color: var(--orange-color)
}


/*Estilos del contenido principal*/

.wideContent {
  grid-area: content;
  grid-column: 1 / 5;
}

.content{
    grid-area: content;
    background-color: var(--background-color-layout);
    border: 2px solid #dcdcdc;
}

.content > h2{
    justify-content: center;
    width: 100%;
}

.sport-items{
    display: flex;
    flex-flow: row wrap;
}

.sport-items > article{
    border-top: #000;
    border-left: #000;
    border-bottom: transparent;
    border-right: transparent;
    border-radius: 20px;
    background-color: #ffffffe0;
    width: 200px;
    flex-grow: 1;
    margin:20px;
    height: auto;
    padding: 20px;
}

.sport-items > article > button{
    background-color: var(--main-color);
    color: var(--second-color);
    border-radius: 5px;
    padding: 15px;
    margin-left: 5px;
    margin-right:5px;
}

.edit-sport:hover{
    background-color: #ff771d;
    color:#000;
    transition-duration: 1s;
}

.edit-event-button:hover {
    background-color: var(--background-color-layout);
    color: var(--main-color);
    transition-duration: 1s;
}

.delete-sport:hover{
    background-color: #ff1d1d;
    color:#000;
    transition-duration:1s;
}

.edit-event-form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.edit-event-field{
    width: auto;
    height: auto;
    flex-flow: nowrap;
    margin: 30px;
    border: 2px solid var(--main-color);
    background-color: var(--background-color-layout);
}

.edit-event-button {
    background-color: var(--main-color);
    color: var(--second-color);
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    width: 100px;
    justify-content: center;
    margin: auto;
}

.edit-event-button:hover {
    background-color: var(--background-color-layout);
    color: var(--main-color);
    transition-duration: 1s;
}

/* Estilos del home */

.homeSloganContainer{
    background-image: url("../public/img/woman-running.jpg");
    background-position: 72% 60%;
    background-size: cover;
    height: 300px;
    margin:0;
    padding-bottom:0 ;
}

.homeSloganContainer > p {
    font-size: xx-large;
    color: #ffffff;
    margin-bottom: 130px;
    margin-top: 0;
}

.homeMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.homeMenu > a{
    text-decoration: none;
}

.homeMenuContainer{
    height: 50px;
    width: 250px;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    border: 1px solid;
    background-color: var(--second-color);
}

.latestEventsLink {
    font-weight: 600;
    color: var(--main-color);
    background-color: var(--second-color);
    margin: 0;
    text-decoration: none;
    font-size: larger;
    font-family: sans-serif;
    min-height: 100px;
    min-width: 100%;
    align-content: center;
}

.featuredEvents{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.featuredEventsList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-evenly;
    list-style: none;

}

.featuredEventsList > li{
    border: 1px solid #000;
    width: 20%;
    background-color: var(--second-color);
}

.featuredEventsListContainer > img {
    width: 100%;
    box-sizing: border-box;
}

/*Estilos de la barra lateral*/
.lateral{
    grid-area: lateral;
    background-color: var(--background-color-layout);
    border: 2px solid #000000;
    border-left: transparent;
    display:flex;
    flex-direction: column;
}

.lateral > div {
    border-radius: 20px;
    background-color: #ffffffe0;
    width: 400px;
    flex-grow: 1;
    margin:40px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lateral > div > form{
    flex-direction: column;
}

.lateral > div > form > input, .lateral > div > form > textarea{
    width: 300px;
    height: auto;
    margin: 30px;
    border: 2px solid var(--main-color);
    background-color: var(--background-color-layout);
}

::placeholder {
  color: #727272;
  font-family: Arial, Helvetica, sans-serif;

}

.create-event-button, .search-button, .contact-form-button{
    background-color: var(--main-color);
    color: var(--second-color);
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    width: 100px;
    justify-content: center;
    margin: auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin:100px;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
}

.contact-form > form {
    flex-direction: column;
    padding:100px;
    background-color: #fff;

}

.contact-form > form > input, .contact-form > form > textarea{
    width: 300px;
    height: auto;
    margin: 30px;
    border: 2px solid var(--main-color);
    background-color: var(--background-color-layout);
}

.contact-form > form > label{
    margin:30px;
}

.create-event-button:hover, .search-button:hover, .contact-form-button:hover{
    background-color: var(--background-color-layout);
    color: var(--main-color);
    transition-duration: 1s;
}

.delete-filter-button{
    background-color: #f48d8d;
    color:#6c6c6c;
    border-radius: 5px;
    flex-direction: column;
    border:transparent;
    margin-top: 5px;
}

.search-sport{
    max-height: 400px;
}

.create-sport{
    max-height: 600px;
}

/*Social media*/
.socialMediaIcon{
    width: 30px;
}

/*Estilos del footer*/
.footer{
    grid-area: footer;
    background-color: var(--footer-background-color);
    color: var(--footer-color);
    padding: 5px;
    align-items: center;
}

/* Formato mobile */

@media (max-width:600px) {
    .layout{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--second-color);
        min-height: 100vh;
    }

    .nav > ul, .content, .lateral, .contact-form{
        flex-direction: column;
    }

    .contact-form{
        width: 100%;
        max-width: 100%;
        margin:0;
        padding-right: 0;
        padding-left: 0;
    }

    .contact-form > form{
        padding:0;
        max-width: fit-content;
    }

    .contact-form > form > input, .contact-form > form > textarea, .contact-form > form > label{
        margin:0;
    }

    section h1, section h2, section h3{
        display: none;
    }

    .lateral > div, .content > div {
        display: flex;
        border-radius: 20px;
        width: 250px;
        justify-content: center;
    }

    .lateral > div > form > input, .lateral > div > form > textarea{
        width: 150px;
    }

    .sport-items { 
        display: flex;
        width: 350px; 
        justify-content: center;
    }

    .footer{
        margin-top: auto;
    }

    .homeSloganContainer{
    background-image: url("../public/img/woman-running.jpg");
    background-position: 72% 60%;
    background-size: cover;
    width: 100dvw;
    margin:0;
    padding-bottom:0 ;
    }

    .homeSloganContainer > p {
        font-size: xx-large;
        color: #ffffff;
    }

    .homeMenu{
        display: flex;
        flex-direction: column;
    }

    .homeMenuContainer{
        height: 40px;
        width: 100dvw;
        padding: 0;
    }

    .latestEventsLink{
        min-height: 0;
        min-width: 0;
    }

    .featuredEvents{
        display: block;
        margin-top: 120px;
    }

    .featuredEventsList{
        flex-direction: column;
    }

    .featuredEventsList > li{
        width: 80%;
    }

}
